<section class="container flex flex-col m-auto justify-center">

    <h2 class="text-xl mb-4 text-center">Cart 🛒</h2>
    <section>

        {{#each plaicart.products}}
        <div class="flex justify-around">

        <h2>{{this.product}}</h2>
        <p>{{this.quantity}}</p>
        </div>
        {{/each}}

    </section>

</section>