<h1>Bienvenido {{user}}</h1>

<form action="/api/sessions/logout" method="psot">
<button type="submit"
    class="inline-flex items-center gap-4 bg-blue-500 px-4 py-2 rounded-md focus:outline-none hover:bg-indigo-600 text-base text-white mt-4 md:mt-0">
    Cerrar sesion</button>
</form>